<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body >

<section>
    <p><%= message %></p>
</section>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
